body {
  background-color: lightgrey;
}

#content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3vh;
  padding: 0vw;
}

.glyphe {
  border: 2px solid mediumseagreen;
  width: 16vw;
}

.label {
  width: 20%;
  text-align: center;
  padding: 1vh;
  border-bottom: 1px dashed mediumseagreen;
  font-family: monospace;
}

canvas {
  width: 15vw;
  height: 30vh;
}
