canvas {
	width: 800px;
	height: 800px;
	border: 1px solid pink;
	border-radius: 15px;
	margin-bottom: 1vh;
	zoom: 33%;
}

canvas:hover {
	zoom: 100%;
}

.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 1vw;

}
